.hero {
  background-color: var(--first-bg-color);
  background-image: url(../images/mobile-img/img-overlay.png),
    url(../images/mobile-img/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile-img/img-overlay@2x.png),
      url(../images/mobile-img/hero-img@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet-img/img-overlay.png),
      url(../images/tablet-img/hero-img.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet-img/img-overlay@2x.png),
        url(../images/tablet-img/hero-img@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/desktop-img/img-overlay.png),
      url(../images/desktop-img/hero-img.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop-img/img-overlay@2x.png),
        url(../images/desktop-img/hero-img@2x.png);
    }
  }
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  background-position: center;
  box-sizing: border-box;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  border-radius: 4px;
}
