.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  text-decoration: none;

  @media screen and (max-width: 767px) {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: auto;
  }
}

.logo--blue {
  color: var(--accent-color);
}

.logo--white {
  color: var(--white-color);
}
