.site-nav__item {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
  position: relative;
}

.site-nav__item::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms var(--cubic);
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  display: flex;
}

.main-nav {
  display: flex;
  margin-left: auto;
}

.site-nav__item:hover,
.site-nav__item:focus {
  color: var(--accent-color);
}

.site-nav__item:hover::after,
.site-nav__item:focus::after {
  opacity: 1;
}

.main-nav__item:hover,
.main-nav__item:focus {
  color: var(--accent-color);
}

.main-nav__item:hover .main-nav--envelope,
.main-nav__item:focus .main-nav--envelope {
  fill: var(--accent-color);
}

.main-nav--envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.main-nav--smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.main-nav__item {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms var(--cubic);
}

.main-nav li:not(:last-child) {
  margin-right: 50px;
}
