.occupation__item {
  --items: 3;
  position: relative;
}

.occupation__title {
  position: absolute;
  bottom: 0;
  left: 0;

  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
}
