.social-network__item {
  display: inline-flex;
}

.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic);
}

.social-network__item:not(:last-child) {
  margin-right: 10px;
}

.social-network__link:hover,
.social-network__link:focus {
  background-color: var(--accent-color);
}

.social-network {
  margin-top: 16px;
  display: flex;
}

.social-network__link:hover .social-network__icon,
.social-network__link:focus .social-network__icon {
  fill: var(--white-color);
}

.social-network__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms var(--cubic);
}
