:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --logo-color: #000000;
  --white-color: #ffffff;
  --first-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --items: 4;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
